<div class="page-content">
    <ng-include src="'app/views/common/viewHeader.html'"></ng-include>


    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div translate class="panel-heading">Customer.Info</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <form class="form-horizontal" name="cusForm" ng-submit="cusCtrl.doOk()" novalidate>
                        <!-- #section:elements.form -->
                        <div class="form-group col-sm-6 required">
                            <label class="col-sm-3 control-label">
                                 {{ 'Customer.Code' | translate }}
                            </label>

                            <input type="text"  name="code"  required class="col-sm-9"
                                   ng-readonly="true" ng-model="customer.code"
                                   placeholder="{{ 'Customer.Code' | translate }}">
                        </div>

                        <div class="form-group col-sm-6 required ">
                            <label class="col-sm-3 control-label no-padding-right">
                                {{ 'Country' | translate }}
                            </label>

                            <div class="col-sm-9">
                                <ui-select ng-model="customer.country" ng-disabled="cusCtrl.isView()">
                                    <ui-select-match placeholder="{{ 'Country' | translate }}">
                                        <span ng-bind="$select.selected"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="country in (countries | filter: $select.search)">
                                        <div ng-bind-html="country"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                        </div>

                        <div class="form-group col-sm-6 required">
                            <label class="col-sm-3 control-label">
                                {{ 'Customer.Name' | translate }}
                            </label>

                            <input type="text"  name="name"  required class="col-sm-9"
                                   ng-readonly="cusCtrl.isView()" ng-model="customer.name"
                                   placeholder="{{ 'Customer.Name' | translate }}">
                        </div>

                        <div class="form-group col-sm-6 required">
                            <label class="col-sm-3 control-label no-padding-right">
                                {{ 'City' | translate }}
                            </label>

                            <div class="col-sm-9">
                                <ui-select ng-model="customer.city" ng-disabled="cusCtrl.isView()">
                                    <ui-select-match placeholder="{{ 'City' | translate }}">
                                        <span ng-bind="$select.selected"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="city in (cities | filter: $select.search)">
                                        <div ng-bind-html="city"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div class="form-group col-sm-6 required">
                            <label class="col-sm-3 control-label">
                                {{ 'Phone' | translate }}
                            </label>

                            <input type="text"  name="phone"  required class="col-sm-9" ng-pattern="phonePattern"
                                   ng-readonly="cusCtrl.isView()" ng-model="customer.phone"
                                   placeholder="{{ 'Phone' | translate }}">
                        </div>

                        <textarea  name="desc" class="form-control col-xs-12"
                               ng-readonly="cusCtrl.isView()" ng-model="customer.desc"
                               placeholder="{{ 'Desc' | translate }}"/>

                    </form>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div>
        </div>

    </div>

    <div class="space-4"/>

    <div class="row">
        <ng-include src="'app/views/common/detailTable.html'" class="col-xs-12"
                    ng-init="ctrl=cusCtrl;model=detailAddress"></ng-include>
    </div>

    <div class="space-12"></div>

    <div class="button-group center" ng-show="!cusCtrl.isView()">
        <button class="btn btn-info" type="button" ng-click="cusCtrl.doOk()">
            <i class="ace-icon fa fa-check"></i>
            {{ 'Button.Ok' | translate}}
        </button>

        <button class="btn btn-danger" type="button" ng-click="cusCtrl.doCancel()">
            <i class="ace-icon fa fa-close"></i>
            {{ 'Button.Cancel' | translate}}
        </button>
    </div>

    <div class="button-group center" ng-show="cusCtrl.isView()">
        <button class="btn btn-info" type="button" data-ng-click="cusCtrl.go('/customer/update/' + customer.code)">
                <i class="ace-icon fa fa-edit"></i>
                {{ 'Button.Update' | translate}}
        </button>
        <button class="btn btn-danger" type="button" ng-click="cusCtrl.doDelete(customer)">
            <i class="ace-icon fa fa-close"></i>
            {{ 'Button.Delete' | translate}}
        </button>
    </div>

</div>
<!-- /.user content -->

