<tr>
    <th class=" center">
        {{'Index' | translate}}
    </th>
    <th class="col-md-2 center">
        {{'Customer.Party' | translate}}
    </th>
    <th class="col-md-3 center">
        {{'Address' | translate}}
    </th>
    <th class=" center">
        {{'City' | translate}}
    </th>
    <th class=" center">
        {{'Phone' | translate}}
    </th>
    <th class=" center">
        Email
    </th>
    <th class=" center">
        {{'Default' | translate}}
    </th>
    <th class=" center">
        {{'Active' | translate}}
    </th>
    <th class="" ng-show="!ctrl.isView()"/>
</tr>